// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      a(href="#section-top").header__logo
        img(src="img/logotype.svg", alt="")
      .header__links
        .header__item
          .header__mail-image
            img(src="img/instagram.svg", alt="")
          .header__mail-info
            p Instagram
            a(href="https://www.instagram.com/p/Bx6wpiDokUj/" target="_blank") @oclockua
          
// HEADER :: END
