// BEGIN SECTION :: popups

// BEGIN POPUP :: thankpopup
.popup.mfp-with-anim.mfp-hide#thankpopup
  h2.popup__title Заявка отправлена
  .popup__info
    p В ближайшее время мы с вами свяжемся по указанным данным.
// END POPUP :: thankpopup

// BEGIN POPUP :: thankpopup
.popup.mfp-with-anim.mfp-hide#errorpopup
  h2.popup__title Извините! 
    br
    | Заявка не отправлена
  .popup__info
    p Проверьте правильность введеннных данных
// END POPUP :: thankpopup

// END SECTION :: popups