---
title: Kidult
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen

  section.nt
    .firstscreen
      .firstscreen__carousel(js-slider)
        .firstscreen__item(style="background-image: url(img/bg1-11.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-10.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-9.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-8.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-7.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-6.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-5.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-4.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-3.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-2.jpg)")
        .firstscreen__item(style="background-image: url(img/bg1-1.jpg)")

  // END SECTION :: firstscreen

  // BEGIN SECTION :: info

  section.nt
    .block.block--white
      .container
        p.info Для удобства выбора браслетов Kidult, мы придумали для Вас удобное средство просмотра. 
          br
          br 
          | Выбирайте понравившийся и присылайте в личные сообщения в Instagram.
          br 
          br 
          | Спасибо за понимание, удачных покупок :)

  // END SECTION :: info

  // BEGIN SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-1.jpg)")
      .container
        h2 Серия
          span.love &nbsp Love
    .block.block--white
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-16.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-17.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-17.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-18.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-18.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-19.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-19.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-20.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-20.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-21.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-21.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-22.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-22.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-23.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-23.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-24.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-24.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-25.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-25.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-26.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-26.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-27.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-27.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-28.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-28.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-29.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-29.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-30.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-30.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-31.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-31.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-32.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-32.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-33.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-33.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-34.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-34.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-35.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-35.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-36.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-36.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-37.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-37.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-38.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-38.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-39.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-39.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-40.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-40.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-41.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-41.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-42.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-42.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-43.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-43.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-44.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-44.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-45.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-45.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-46.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-46.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-47.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-47.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-48.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-48.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-49.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-49.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-50.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-50.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-51.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-51.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-52.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-52.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-53.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-53.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-54.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-54.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-55.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-55.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-56.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-56.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-57.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-57.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-58.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-58.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-59.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-59.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-60.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-60.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-61.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-61.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-62.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-62.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-63.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-63.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-64.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-64.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-65.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-65.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-66.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-66.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-67.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-67.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-68.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-68.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-69.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-69.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-70.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-70.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-71.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-71.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-72.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-72.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-73.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-73.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-74.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-74.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-75.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-75.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-76.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-76.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-77.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-77.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-78.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-78.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-79.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-79.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-80.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-80.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-81.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-81.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-82.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-82.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-83.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-83.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-84.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-84.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-85.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-85.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-86.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-86.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-87.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-87.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-88.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-88.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-89.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-89.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-90.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-90.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-91.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-91.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-92.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-92.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-93.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-93.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-94.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-94.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-95.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-95.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-96.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-96.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-97.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-97.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-98.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-98.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-99.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-99.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-100.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-100.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-101.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-101.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-102.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-102.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-103.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-103.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-104.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-104.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-105.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-105.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-106.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-106.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-107.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-107.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-108.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-108.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-109.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-109.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/love/love-110.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/love/love-110.jpg", alt="")
              
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-2.jpg)")
      .container
        h2 Серия
          span.family &nbsp Family
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/famiglia/famiglia-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/famiglia/famiglia-11.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-3.jpg)")
      .container
        h2 Серия
          span.symbols &nbsp Symbols
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-0.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-0.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-16.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-17.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-17.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-18.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-18.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-19.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-19.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-20.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-20.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-21.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-21.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-22.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-22.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-23.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-23.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-24.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-24.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/symbols/symbols-25.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/symbols/symbols-25.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-4.jpg)")
      .container
        h2 Серия
          span.spirit &nbsp Spirituality
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/spirit/spirit-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/spirit/spirit-9.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-5.jpg)")
      .container
        h2 Серия
          span.free &nbsp Free Time
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-00.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-00.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-01.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-01.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-16.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-17.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-17.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-18.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-18.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/free/free-19.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/free/free-19.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-6.jpg)")
      .container
        h2 Серия
          span.special &nbsp Special Moments
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/special/special-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/special/special-16.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-7.jpg)")
      .container
        h2 Серия
          span.animal &nbsp Animal Planet
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-16.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-17.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-17.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-18.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-18.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-19.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-19.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-20.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-20.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-21.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-21.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/animal/animal-22.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/animal/animal-22.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-8.jpg)")
      .container
        h2 Серия
          span.animal &nbsp Nature
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-9.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-11.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-11.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/nature/nature-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/nature/nature-15.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-9.jpg)")
      .container
        h2 Серия
          span.philo &nbsp Philosophy
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-0.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-0.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/philo/philo-9.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/philo/philo-9.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  // END SECTION :: block

  section
    .block__bg(style="background-image: url(img/bg1-10.jpg)")
      .container
        h2 Серия
          span.irony &nbsp Irony
    .block
      .container
        .swiper-container(js-slider-items)
          .swiper-wrapper
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-1.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-1.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-2.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-2.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-3.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-3.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-4.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-4.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-5.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-5.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-6.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-6.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-7.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-7.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-8.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-8.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-10.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-10.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-12.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-12.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-13.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-13.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-14.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-14.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-15.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-15.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-16.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-16.jpg", alt="")
            .swiper-slide
              .block__item
                a.no-barba(href="img/irony/irony-17.jpg" js-open-photo data-effect="mfp-zoom-in")
                  img(src="img/irony/irony-17.jpg", alt="")
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
  
  // END SECTION :: block

  //- // END SECTION :: block

  //- section
  //-   .block__bg(style="background-image: url(img/bg1-11.jpg)")
  //-     .container
  //-       h2 Серия
  //-         span.charity &nbsp Charity
  //-   .block
  //-     .container
  //-       .swiper-container(js-slider-items)
  //-         .swiper-wrapper
  //-           .swiper-slide
  //-             .block__item
  //-               a.no-barba(href="img/item1-9.jpg" js-open-photo data-effect="mfp-zoom-in")
  //-                 img(src="img/item1-9.jpg", alt="")
  //-                 //- p Название
  //-           .swiper-slide
  //-             .block__item
  //-               a.no-barba(href="img/item1-10.jpg" js-open-photo data-effect="mfp-zoom-in")
  //-                 img(src="img/item1-10.jpg", alt="")
  //-                 //- p Название
  //-           .swiper-slide
  //-             .block__item
  //-               a.no-barba(href="img/item1-11.jpg" js-open-photo data-effect="mfp-zoom-in")
  //-                 img(src="img/item1-11.jpg", alt="")
  //-                 //- p Название
  //-           .swiper-slide
  //-             .block__item
  //-               a.no-barba(href="img/item1-12.jpg" js-open-photo data-effect="mfp-zoom-in")
  //-                 img(src="img/item1-12.jpg", alt="")
  //-                 //- p Название
  //-         .swiper-pagination
  //-         .swiper-button-next
  //-         .swiper-button-prev
  
  //- // END SECTION :: block